@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700;900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap);
body {
  background-color: red;
}

h2, .h2 {
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 700;
}

h3, .h3 {
  font-size: 2.8rem;
  line-height: 3rem;
  font-weight: 700;
}

h4, .h4 {
  font-size: 2.4rem;
  line-height: 3rem;
  font-weight: 700;
}

h5, .h5 {
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-weight: 700;
}

h6, .h6 {
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-weight: 700;
  margin-bottom: 4px;
}

p, .p {
  font-size: 1.6rem;
  line-height: 19px;
  color: black !important;
}

span, .span {
  font-size: 1.4rem;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-stretch: normal;
  font-family: Inter, sans-serif;
  letter-spacing: 0.1px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 32px;
}

#root .container {
  display: flex;
}

html {
  font-size: 62.5%;
}

body {
  color: black;
  background-color: #EEEEEE;
}

#root {
  position: relative;
  min-height: 100vh;
}
#root .container {
  min-height: 100vh;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

.w-0 {
  width: 0% !important;
}

.h-0 {
  height: 0% !important;
}

.w-1 {
  width: 1% !important;
}

.h-1 {
  height: 1% !important;
}

.w-2 {
  width: 2% !important;
}

.h-2 {
  height: 2% !important;
}

.w-3 {
  width: 3% !important;
}

.h-3 {
  height: 3% !important;
}

.w-4 {
  width: 4% !important;
}

.h-4 {
  height: 4% !important;
}

.w-5 {
  width: 5% !important;
}

.h-5 {
  height: 5% !important;
}

.w-6 {
  width: 6% !important;
}

.h-6 {
  height: 6% !important;
}

.w-7 {
  width: 7% !important;
}

.h-7 {
  height: 7% !important;
}

.w-8 {
  width: 8% !important;
}

.h-8 {
  height: 8% !important;
}

.w-9 {
  width: 9% !important;
}

.h-9 {
  height: 9% !important;
}

.w-10 {
  width: 10% !important;
}

.h-10 {
  height: 10% !important;
}

.w-11 {
  width: 11% !important;
}

.h-11 {
  height: 11% !important;
}

.w-12 {
  width: 12% !important;
}

.h-12 {
  height: 12% !important;
}

.w-13 {
  width: 13% !important;
}

.h-13 {
  height: 13% !important;
}

.w-14 {
  width: 14% !important;
}

.h-14 {
  height: 14% !important;
}

.w-15 {
  width: 15% !important;
}

.h-15 {
  height: 15% !important;
}

.w-16 {
  width: 16% !important;
}

.h-16 {
  height: 16% !important;
}

.w-17 {
  width: 17% !important;
}

.h-17 {
  height: 17% !important;
}

.w-18 {
  width: 18% !important;
}

.h-18 {
  height: 18% !important;
}

.w-19 {
  width: 19% !important;
}

.h-19 {
  height: 19% !important;
}

.w-20 {
  width: 20% !important;
}

.h-20 {
  height: 20% !important;
}

.w-21 {
  width: 21% !important;
}

.h-21 {
  height: 21% !important;
}

.w-22 {
  width: 22% !important;
}

.h-22 {
  height: 22% !important;
}

.w-23 {
  width: 23% !important;
}

.h-23 {
  height: 23% !important;
}

.w-24 {
  width: 24% !important;
}

.h-24 {
  height: 24% !important;
}

.w-25 {
  width: 25% !important;
}

.h-25 {
  height: 25% !important;
}

.w-26 {
  width: 26% !important;
}

.h-26 {
  height: 26% !important;
}

.w-27 {
  width: 27% !important;
}

.h-27 {
  height: 27% !important;
}

.w-28 {
  width: 28% !important;
}

.h-28 {
  height: 28% !important;
}

.w-29 {
  width: 29% !important;
}

.h-29 {
  height: 29% !important;
}

.w-30 {
  width: 30% !important;
}

.h-30 {
  height: 30% !important;
}

.w-31 {
  width: 31% !important;
}

.h-31 {
  height: 31% !important;
}

.w-32 {
  width: 32% !important;
}

.h-32 {
  height: 32% !important;
}

.w-33 {
  width: 33% !important;
}

.h-33 {
  height: 33% !important;
}

.w-34 {
  width: 34% !important;
}

.h-34 {
  height: 34% !important;
}

.w-35 {
  width: 35% !important;
}

.h-35 {
  height: 35% !important;
}

.w-36 {
  width: 36% !important;
}

.h-36 {
  height: 36% !important;
}

.w-37 {
  width: 37% !important;
}

.h-37 {
  height: 37% !important;
}

.w-38 {
  width: 38% !important;
}

.h-38 {
  height: 38% !important;
}

.w-39 {
  width: 39% !important;
}

.h-39 {
  height: 39% !important;
}

.w-40 {
  width: 40% !important;
}

.h-40 {
  height: 40% !important;
}

.w-41 {
  width: 41% !important;
}

.h-41 {
  height: 41% !important;
}

.w-42 {
  width: 42% !important;
}

.h-42 {
  height: 42% !important;
}

.w-43 {
  width: 43% !important;
}

.h-43 {
  height: 43% !important;
}

.w-44 {
  width: 44% !important;
}

.h-44 {
  height: 44% !important;
}

.w-45 {
  width: 45% !important;
}

.h-45 {
  height: 45% !important;
}

.w-46 {
  width: 46% !important;
}

.h-46 {
  height: 46% !important;
}

.w-47 {
  width: 47% !important;
}

.h-47 {
  height: 47% !important;
}

.w-48 {
  width: 48% !important;
}

.h-48 {
  height: 48% !important;
}

.w-49 {
  width: 49% !important;
}

.h-49 {
  height: 49% !important;
}

.w-50 {
  width: 50% !important;
}

.h-50 {
  height: 50% !important;
}

.w-51 {
  width: 51% !important;
}

.h-51 {
  height: 51% !important;
}

.w-52 {
  width: 52% !important;
}

.h-52 {
  height: 52% !important;
}

.w-53 {
  width: 53% !important;
}

.h-53 {
  height: 53% !important;
}

.w-54 {
  width: 54% !important;
}

.h-54 {
  height: 54% !important;
}

.w-55 {
  width: 55% !important;
}

.h-55 {
  height: 55% !important;
}

.w-56 {
  width: 56% !important;
}

.h-56 {
  height: 56% !important;
}

.w-57 {
  width: 57% !important;
}

.h-57 {
  height: 57% !important;
}

.w-58 {
  width: 58% !important;
}

.h-58 {
  height: 58% !important;
}

.w-59 {
  width: 59% !important;
}

.h-59 {
  height: 59% !important;
}

.w-60 {
  width: 60% !important;
}

.h-60 {
  height: 60% !important;
}

.w-61 {
  width: 61% !important;
}

.h-61 {
  height: 61% !important;
}

.w-62 {
  width: 62% !important;
}

.h-62 {
  height: 62% !important;
}

.w-63 {
  width: 63% !important;
}

.h-63 {
  height: 63% !important;
}

.w-64 {
  width: 64% !important;
}

.h-64 {
  height: 64% !important;
}

.w-65 {
  width: 65% !important;
}

.h-65 {
  height: 65% !important;
}

.w-66 {
  width: 66% !important;
}

.h-66 {
  height: 66% !important;
}

.w-67 {
  width: 67% !important;
}

.h-67 {
  height: 67% !important;
}

.w-68 {
  width: 68% !important;
}

.h-68 {
  height: 68% !important;
}

.w-69 {
  width: 69% !important;
}

.h-69 {
  height: 69% !important;
}

.w-70 {
  width: 70% !important;
}

.h-70 {
  height: 70% !important;
}

.w-71 {
  width: 71% !important;
}

.h-71 {
  height: 71% !important;
}

.w-72 {
  width: 72% !important;
}

.h-72 {
  height: 72% !important;
}

.w-73 {
  width: 73% !important;
}

.h-73 {
  height: 73% !important;
}

.w-74 {
  width: 74% !important;
}

.h-74 {
  height: 74% !important;
}

.w-75 {
  width: 75% !important;
}

.h-75 {
  height: 75% !important;
}

.w-76 {
  width: 76% !important;
}

.h-76 {
  height: 76% !important;
}

.w-77 {
  width: 77% !important;
}

.h-77 {
  height: 77% !important;
}

.w-78 {
  width: 78% !important;
}

.h-78 {
  height: 78% !important;
}

.w-79 {
  width: 79% !important;
}

.h-79 {
  height: 79% !important;
}

.w-80 {
  width: 80% !important;
}

.h-80 {
  height: 80% !important;
}

.w-81 {
  width: 81% !important;
}

.h-81 {
  height: 81% !important;
}

.w-82 {
  width: 82% !important;
}

.h-82 {
  height: 82% !important;
}

.w-83 {
  width: 83% !important;
}

.h-83 {
  height: 83% !important;
}

.w-84 {
  width: 84% !important;
}

.h-84 {
  height: 84% !important;
}

.w-85 {
  width: 85% !important;
}

.h-85 {
  height: 85% !important;
}

.w-86 {
  width: 86% !important;
}

.h-86 {
  height: 86% !important;
}

.w-87 {
  width: 87% !important;
}

.h-87 {
  height: 87% !important;
}

.w-88 {
  width: 88% !important;
}

.h-88 {
  height: 88% !important;
}

.w-89 {
  width: 89% !important;
}

.h-89 {
  height: 89% !important;
}

.w-90 {
  width: 90% !important;
}

.h-90 {
  height: 90% !important;
}

.w-91 {
  width: 91% !important;
}

.h-91 {
  height: 91% !important;
}

.w-92 {
  width: 92% !important;
}

.h-92 {
  height: 92% !important;
}

.w-93 {
  width: 93% !important;
}

.h-93 {
  height: 93% !important;
}

.w-94 {
  width: 94% !important;
}

.h-94 {
  height: 94% !important;
}

.w-95 {
  width: 95% !important;
}

.h-95 {
  height: 95% !important;
}

.w-96 {
  width: 96% !important;
}

.h-96 {
  height: 96% !important;
}

.w-97 {
  width: 97% !important;
}

.h-97 {
  height: 97% !important;
}

.w-98 {
  width: 98% !important;
}

.h-98 {
  height: 98% !important;
}

.w-99 {
  width: 99% !important;
}

.h-99 {
  height: 99% !important;
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

.m-auto {
  margin: auto !important;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.mt-auto {
  margin-top: auto !important;
}

.mb-auto {
  margin-bottom: auto !important;
}

.ml-auto {
  margin-left: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

.p-auto {
  padding: auto !important;
}

.px-auto {
  padding-left: auto !important;
  padding-right: auto !important;
}

.py-auto {
  padding-top: auto !important;
  padding-bottom: auto !important;
}

.pt-auto {
  padding-top: auto !important;
}

.pb-auto {
  padding-bottom: auto !important;
}

.pl-auto {
  padding-left: auto !important;
}

.pr-auto {
  padding-right: auto !important;
}

.m-nauto {
  margin: -auto !important;
}

.mx-nauto {
  margin-left: -auto !important;
  margin-right: -auto !important;
}

.my-nauto {
  margin-top: -auto !important;
  margin-bottom: -auto !important;
}

.mt-nauto {
  margin-top: -auto !important;
}

.mb-nauto {
  margin-bottom: -auto !important;
}

.ml-nauto {
  margin-left: -auto !important;
}

.mr-nauto {
  margin-right: -auto !important;
}

.p-nauto {
  padding: -auto !important;
}

.px-nauto {
  padding-left: -auto !important;
  padding-right: -auto !important;
}

.py-nauto {
  padding-top: -auto !important;
  padding-bottom: -auto !important;
}

.pt-nauto {
  padding-top: -auto !important;
}

.pb-nauto {
  padding-bottom: -auto !important;
}

.pl-nauto {
  padding-left: -auto !important;
}

.pr-nauto {
  padding-right: -auto !important;
}

.m-0 {
  margin: 0 !important;
}

.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.p-0 {
  padding: 0 !important;
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.m-n0 {
  margin: 0 !important;
}

.mx-n0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.my-n0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.mt-n0 {
  margin-top: 0 !important;
}

.mb-n0 {
  margin-bottom: 0 !important;
}

.ml-n0 {
  margin-left: 0 !important;
}

.mr-n0 {
  margin-right: 0 !important;
}

.p-n0 {
  padding: 0 !important;
}

.px-n0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.py-n0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.pt-n0 {
  padding-top: 0 !important;
}

.pb-n0 {
  padding-bottom: 0 !important;
}

.pl-n0 {
  padding-left: 0 !important;
}

.pr-n0 {
  padding-right: 0 !important;
}

.m-4 {
  margin: 4px !important;
}

.mx-4 {
  margin-left: 4px !important;
  margin-right: 4px !important;
}

.my-4 {
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}

.mt-4 {
  margin-top: 4px !important;
}

.mb-4 {
  margin-bottom: 4px !important;
}

.ml-4 {
  margin-left: 4px !important;
}

.mr-4 {
  margin-right: 4px !important;
}

.p-4 {
  padding: 4px !important;
}

.px-4 {
  padding-left: 4px !important;
  padding-right: 4px !important;
}

.py-4 {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.pt-4 {
  padding-top: 4px !important;
}

.pb-4 {
  padding-bottom: 4px !important;
}

.pl-4 {
  padding-left: 4px !important;
}

.pr-4 {
  padding-right: 4px !important;
}

.m-n4 {
  margin: -4px !important;
}

.mx-n4 {
  margin-left: -4px !important;
  margin-right: -4px !important;
}

.my-n4 {
  margin-top: -4px !important;
  margin-bottom: -4px !important;
}

.mt-n4 {
  margin-top: -4px !important;
}

.mb-n4 {
  margin-bottom: -4px !important;
}

.ml-n4 {
  margin-left: -4px !important;
}

.mr-n4 {
  margin-right: -4px !important;
}

.p-n4 {
  padding: -4px !important;
}

.px-n4 {
  padding-left: -4px !important;
  padding-right: -4px !important;
}

.py-n4 {
  padding-top: -4px !important;
  padding-bottom: -4px !important;
}

.pt-n4 {
  padding-top: -4px !important;
}

.pb-n4 {
  padding-bottom: -4px !important;
}

.pl-n4 {
  padding-left: -4px !important;
}

.pr-n4 {
  padding-right: -4px !important;
}

.m-6 {
  margin: 6px !important;
}

.mx-6 {
  margin-left: 6px !important;
  margin-right: 6px !important;
}

.my-6 {
  margin-top: 6px !important;
  margin-bottom: 6px !important;
}

.mt-6 {
  margin-top: 6px !important;
}

.mb-6 {
  margin-bottom: 6px !important;
}

.ml-6 {
  margin-left: 6px !important;
}

.mr-6 {
  margin-right: 6px !important;
}

.p-6 {
  padding: 6px !important;
}

.px-6 {
  padding-left: 6px !important;
  padding-right: 6px !important;
}

.py-6 {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

.pt-6 {
  padding-top: 6px !important;
}

.pb-6 {
  padding-bottom: 6px !important;
}

.pl-6 {
  padding-left: 6px !important;
}

.pr-6 {
  padding-right: 6px !important;
}

.m-n6 {
  margin: -6px !important;
}

.mx-n6 {
  margin-left: -6px !important;
  margin-right: -6px !important;
}

.my-n6 {
  margin-top: -6px !important;
  margin-bottom: -6px !important;
}

.mt-n6 {
  margin-top: -6px !important;
}

.mb-n6 {
  margin-bottom: -6px !important;
}

.ml-n6 {
  margin-left: -6px !important;
}

.mr-n6 {
  margin-right: -6px !important;
}

.p-n6 {
  padding: -6px !important;
}

.px-n6 {
  padding-left: -6px !important;
  padding-right: -6px !important;
}

.py-n6 {
  padding-top: -6px !important;
  padding-bottom: -6px !important;
}

.pt-n6 {
  padding-top: -6px !important;
}

.pb-n6 {
  padding-bottom: -6px !important;
}

.pl-n6 {
  padding-left: -6px !important;
}

.pr-n6 {
  padding-right: -6px !important;
}

.m-8 {
  margin: 8px !important;
}

.mx-8 {
  margin-left: 8px !important;
  margin-right: 8px !important;
}

.my-8 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.mt-8 {
  margin-top: 8px !important;
}

.mb-8 {
  margin-bottom: 8px !important;
}

.ml-8 {
  margin-left: 8px !important;
}

.mr-8 {
  margin-right: 8px !important;
}

.p-8 {
  padding: 8px !important;
}

.px-8 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.py-8 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.pt-8 {
  padding-top: 8px !important;
}

.pb-8 {
  padding-bottom: 8px !important;
}

.pl-8 {
  padding-left: 8px !important;
}

.pr-8 {
  padding-right: 8px !important;
}

.m-n8 {
  margin: -8px !important;
}

.mx-n8 {
  margin-left: -8px !important;
  margin-right: -8px !important;
}

.my-n8 {
  margin-top: -8px !important;
  margin-bottom: -8px !important;
}

.mt-n8 {
  margin-top: -8px !important;
}

.mb-n8 {
  margin-bottom: -8px !important;
}

.ml-n8 {
  margin-left: -8px !important;
}

.mr-n8 {
  margin-right: -8px !important;
}

.p-n8 {
  padding: -8px !important;
}

.px-n8 {
  padding-left: -8px !important;
  padding-right: -8px !important;
}

.py-n8 {
  padding-top: -8px !important;
  padding-bottom: -8px !important;
}

.pt-n8 {
  padding-top: -8px !important;
}

.pb-n8 {
  padding-bottom: -8px !important;
}

.pl-n8 {
  padding-left: -8px !important;
}

.pr-n8 {
  padding-right: -8px !important;
}

.m-10 {
  margin: 10px !important;
}

.mx-10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.my-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.p-10 {
  padding: 10px !important;
}

.px-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.py-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pl-10 {
  padding-left: 10px !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.m-n10 {
  margin: -10px !important;
}

.mx-n10 {
  margin-left: -10px !important;
  margin-right: -10px !important;
}

.my-n10 {
  margin-top: -10px !important;
  margin-bottom: -10px !important;
}

.mt-n10 {
  margin-top: -10px !important;
}

.mb-n10 {
  margin-bottom: -10px !important;
}

.ml-n10 {
  margin-left: -10px !important;
}

.mr-n10 {
  margin-right: -10px !important;
}

.p-n10 {
  padding: -10px !important;
}

.px-n10 {
  padding-left: -10px !important;
  padding-right: -10px !important;
}

.py-n10 {
  padding-top: -10px !important;
  padding-bottom: -10px !important;
}

.pt-n10 {
  padding-top: -10px !important;
}

.pb-n10 {
  padding-bottom: -10px !important;
}

.pl-n10 {
  padding-left: -10px !important;
}

.pr-n10 {
  padding-right: -10px !important;
}

.m-12 {
  margin: 12px !important;
}

.mx-12 {
  margin-left: 12px !important;
  margin-right: 12px !important;
}

.my-12 {
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}

.mt-12 {
  margin-top: 12px !important;
}

.mb-12 {
  margin-bottom: 12px !important;
}

.ml-12 {
  margin-left: 12px !important;
}

.mr-12 {
  margin-right: 12px !important;
}

.p-12 {
  padding: 12px !important;
}

.px-12 {
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.py-12 {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.pt-12 {
  padding-top: 12px !important;
}

.pb-12 {
  padding-bottom: 12px !important;
}

.pl-12 {
  padding-left: 12px !important;
}

.pr-12 {
  padding-right: 12px !important;
}

.m-n12 {
  margin: -12px !important;
}

.mx-n12 {
  margin-left: -12px !important;
  margin-right: -12px !important;
}

.my-n12 {
  margin-top: -12px !important;
  margin-bottom: -12px !important;
}

.mt-n12 {
  margin-top: -12px !important;
}

.mb-n12 {
  margin-bottom: -12px !important;
}

.ml-n12 {
  margin-left: -12px !important;
}

.mr-n12 {
  margin-right: -12px !important;
}

.p-n12 {
  padding: -12px !important;
}

.px-n12 {
  padding-left: -12px !important;
  padding-right: -12px !important;
}

.py-n12 {
  padding-top: -12px !important;
  padding-bottom: -12px !important;
}

.pt-n12 {
  padding-top: -12px !important;
}

.pb-n12 {
  padding-bottom: -12px !important;
}

.pl-n12 {
  padding-left: -12px !important;
}

.pr-n12 {
  padding-right: -12px !important;
}

.m-14 {
  margin: 14px !important;
}

.mx-14 {
  margin-left: 14px !important;
  margin-right: 14px !important;
}

.my-14 {
  margin-top: 14px !important;
  margin-bottom: 14px !important;
}

.mt-14 {
  margin-top: 14px !important;
}

.mb-14 {
  margin-bottom: 14px !important;
}

.ml-14 {
  margin-left: 14px !important;
}

.mr-14 {
  margin-right: 14px !important;
}

.p-14 {
  padding: 14px !important;
}

.px-14 {
  padding-left: 14px !important;
  padding-right: 14px !important;
}

.py-14 {
  padding-top: 14px !important;
  padding-bottom: 14px !important;
}

.pt-14 {
  padding-top: 14px !important;
}

.pb-14 {
  padding-bottom: 14px !important;
}

.pl-14 {
  padding-left: 14px !important;
}

.pr-14 {
  padding-right: 14px !important;
}

.m-n14 {
  margin: -14px !important;
}

.mx-n14 {
  margin-left: -14px !important;
  margin-right: -14px !important;
}

.my-n14 {
  margin-top: -14px !important;
  margin-bottom: -14px !important;
}

.mt-n14 {
  margin-top: -14px !important;
}

.mb-n14 {
  margin-bottom: -14px !important;
}

.ml-n14 {
  margin-left: -14px !important;
}

.mr-n14 {
  margin-right: -14px !important;
}

.p-n14 {
  padding: -14px !important;
}

.px-n14 {
  padding-left: -14px !important;
  padding-right: -14px !important;
}

.py-n14 {
  padding-top: -14px !important;
  padding-bottom: -14px !important;
}

.pt-n14 {
  padding-top: -14px !important;
}

.pb-n14 {
  padding-bottom: -14px !important;
}

.pl-n14 {
  padding-left: -14px !important;
}

.pr-n14 {
  padding-right: -14px !important;
}

.m-16 {
  margin: 16px !important;
}

.mx-16 {
  margin-left: 16px !important;
  margin-right: 16px !important;
}

.my-16 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.mt-16 {
  margin-top: 16px !important;
}

.mb-16 {
  margin-bottom: 16px !important;
}

.ml-16 {
  margin-left: 16px !important;
}

.mr-16 {
  margin-right: 16px !important;
}

.p-16 {
  padding: 16px !important;
}

.px-16 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.py-16 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.pt-16 {
  padding-top: 16px !important;
}

.pb-16 {
  padding-bottom: 16px !important;
}

.pl-16 {
  padding-left: 16px !important;
}

.pr-16 {
  padding-right: 16px !important;
}

.m-n16 {
  margin: -16px !important;
}

.mx-n16 {
  margin-left: -16px !important;
  margin-right: -16px !important;
}

.my-n16 {
  margin-top: -16px !important;
  margin-bottom: -16px !important;
}

.mt-n16 {
  margin-top: -16px !important;
}

.mb-n16 {
  margin-bottom: -16px !important;
}

.ml-n16 {
  margin-left: -16px !important;
}

.mr-n16 {
  margin-right: -16px !important;
}

.p-n16 {
  padding: -16px !important;
}

.px-n16 {
  padding-left: -16px !important;
  padding-right: -16px !important;
}

.py-n16 {
  padding-top: -16px !important;
  padding-bottom: -16px !important;
}

.pt-n16 {
  padding-top: -16px !important;
}

.pb-n16 {
  padding-bottom: -16px !important;
}

.pl-n16 {
  padding-left: -16px !important;
}

.pr-n16 {
  padding-right: -16px !important;
}

.m-18 {
  margin: 18px !important;
}

.mx-18 {
  margin-left: 18px !important;
  margin-right: 18px !important;
}

.my-18 {
  margin-top: 18px !important;
  margin-bottom: 18px !important;
}

.mt-18 {
  margin-top: 18px !important;
}

.mb-18 {
  margin-bottom: 18px !important;
}

.ml-18 {
  margin-left: 18px !important;
}

.mr-18 {
  margin-right: 18px !important;
}

.p-18 {
  padding: 18px !important;
}

.px-18 {
  padding-left: 18px !important;
  padding-right: 18px !important;
}

.py-18 {
  padding-top: 18px !important;
  padding-bottom: 18px !important;
}

.pt-18 {
  padding-top: 18px !important;
}

.pb-18 {
  padding-bottom: 18px !important;
}

.pl-18 {
  padding-left: 18px !important;
}

.pr-18 {
  padding-right: 18px !important;
}

.m-n18 {
  margin: -18px !important;
}

.mx-n18 {
  margin-left: -18px !important;
  margin-right: -18px !important;
}

.my-n18 {
  margin-top: -18px !important;
  margin-bottom: -18px !important;
}

.mt-n18 {
  margin-top: -18px !important;
}

.mb-n18 {
  margin-bottom: -18px !important;
}

.ml-n18 {
  margin-left: -18px !important;
}

.mr-n18 {
  margin-right: -18px !important;
}

.p-n18 {
  padding: -18px !important;
}

.px-n18 {
  padding-left: -18px !important;
  padding-right: -18px !important;
}

.py-n18 {
  padding-top: -18px !important;
  padding-bottom: -18px !important;
}

.pt-n18 {
  padding-top: -18px !important;
}

.pb-n18 {
  padding-bottom: -18px !important;
}

.pl-n18 {
  padding-left: -18px !important;
}

.pr-n18 {
  padding-right: -18px !important;
}

.m-26 {
  margin: 26px !important;
}

.mx-26 {
  margin-left: 26px !important;
  margin-right: 26px !important;
}

.my-26 {
  margin-top: 26px !important;
  margin-bottom: 26px !important;
}

.mt-26 {
  margin-top: 26px !important;
}

.mb-26 {
  margin-bottom: 26px !important;
}

.ml-26 {
  margin-left: 26px !important;
}

.mr-26 {
  margin-right: 26px !important;
}

.p-26 {
  padding: 26px !important;
}

.px-26 {
  padding-left: 26px !important;
  padding-right: 26px !important;
}

.py-26 {
  padding-top: 26px !important;
  padding-bottom: 26px !important;
}

.pt-26 {
  padding-top: 26px !important;
}

.pb-26 {
  padding-bottom: 26px !important;
}

.pl-26 {
  padding-left: 26px !important;
}

.pr-26 {
  padding-right: 26px !important;
}

.m-n26 {
  margin: -26px !important;
}

.mx-n26 {
  margin-left: -26px !important;
  margin-right: -26px !important;
}

.my-n26 {
  margin-top: -26px !important;
  margin-bottom: -26px !important;
}

.mt-n26 {
  margin-top: -26px !important;
}

.mb-n26 {
  margin-bottom: -26px !important;
}

.ml-n26 {
  margin-left: -26px !important;
}

.mr-n26 {
  margin-right: -26px !important;
}

.p-n26 {
  padding: -26px !important;
}

.px-n26 {
  padding-left: -26px !important;
  padding-right: -26px !important;
}

.py-n26 {
  padding-top: -26px !important;
  padding-bottom: -26px !important;
}

.pt-n26 {
  padding-top: -26px !important;
}

.pb-n26 {
  padding-bottom: -26px !important;
}

.pl-n26 {
  padding-left: -26px !important;
}

.pr-n26 {
  padding-right: -26px !important;
}

.m-20 {
  margin: 20px !important;
}

.mx-20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.my-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.p-20 {
  padding: 20px !important;
}

.px-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.py-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pl-20 {
  padding-left: 20px !important;
}

.pr-20 {
  padding-right: 20px !important;
}

.m-n20 {
  margin: -20px !important;
}

.mx-n20 {
  margin-left: -20px !important;
  margin-right: -20px !important;
}

.my-n20 {
  margin-top: -20px !important;
  margin-bottom: -20px !important;
}

.mt-n20 {
  margin-top: -20px !important;
}

.mb-n20 {
  margin-bottom: -20px !important;
}

.ml-n20 {
  margin-left: -20px !important;
}

.mr-n20 {
  margin-right: -20px !important;
}

.p-n20 {
  padding: -20px !important;
}

.px-n20 {
  padding-left: -20px !important;
  padding-right: -20px !important;
}

.py-n20 {
  padding-top: -20px !important;
  padding-bottom: -20px !important;
}

.pt-n20 {
  padding-top: -20px !important;
}

.pb-n20 {
  padding-bottom: -20px !important;
}

.pl-n20 {
  padding-left: -20px !important;
}

.pr-n20 {
  padding-right: -20px !important;
}

.m-24 {
  margin: 24px !important;
}

.mx-24 {
  margin-left: 24px !important;
  margin-right: 24px !important;
}

.my-24 {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}

.mt-24 {
  margin-top: 24px !important;
}

.mb-24 {
  margin-bottom: 24px !important;
}

.ml-24 {
  margin-left: 24px !important;
}

.mr-24 {
  margin-right: 24px !important;
}

.p-24 {
  padding: 24px !important;
}

.px-24 {
  padding-left: 24px !important;
  padding-right: 24px !important;
}

.py-24 {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}

.pt-24 {
  padding-top: 24px !important;
}

.pb-24 {
  padding-bottom: 24px !important;
}

.pl-24 {
  padding-left: 24px !important;
}

.pr-24 {
  padding-right: 24px !important;
}

.m-n24 {
  margin: -24px !important;
}

.mx-n24 {
  margin-left: -24px !important;
  margin-right: -24px !important;
}

.my-n24 {
  margin-top: -24px !important;
  margin-bottom: -24px !important;
}

.mt-n24 {
  margin-top: -24px !important;
}

.mb-n24 {
  margin-bottom: -24px !important;
}

.ml-n24 {
  margin-left: -24px !important;
}

.mr-n24 {
  margin-right: -24px !important;
}

.p-n24 {
  padding: -24px !important;
}

.px-n24 {
  padding-left: -24px !important;
  padding-right: -24px !important;
}

.py-n24 {
  padding-top: -24px !important;
  padding-bottom: -24px !important;
}

.pt-n24 {
  padding-top: -24px !important;
}

.pb-n24 {
  padding-bottom: -24px !important;
}

.pl-n24 {
  padding-left: -24px !important;
}

.pr-n24 {
  padding-right: -24px !important;
}

.m-30 {
  margin: 30px !important;
}

.mx-30 {
  margin-left: 30px !important;
  margin-right: 30px !important;
}

.my-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.p-30 {
  padding: 30px !important;
}

.px-30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.py-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.pl-30 {
  padding-left: 30px !important;
}

.pr-30 {
  padding-right: 30px !important;
}

.m-n30 {
  margin: -30px !important;
}

.mx-n30 {
  margin-left: -30px !important;
  margin-right: -30px !important;
}

.my-n30 {
  margin-top: -30px !important;
  margin-bottom: -30px !important;
}

.mt-n30 {
  margin-top: -30px !important;
}

.mb-n30 {
  margin-bottom: -30px !important;
}

.ml-n30 {
  margin-left: -30px !important;
}

.mr-n30 {
  margin-right: -30px !important;
}

.p-n30 {
  padding: -30px !important;
}

.px-n30 {
  padding-left: -30px !important;
  padding-right: -30px !important;
}

.py-n30 {
  padding-top: -30px !important;
  padding-bottom: -30px !important;
}

.pt-n30 {
  padding-top: -30px !important;
}

.pb-n30 {
  padding-bottom: -30px !important;
}

.pl-n30 {
  padding-left: -30px !important;
}

.pr-n30 {
  padding-right: -30px !important;
}

.m-32 {
  margin: 32px !important;
}

.mx-32 {
  margin-left: 32px !important;
  margin-right: 32px !important;
}

.my-32 {
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}

.mt-32 {
  margin-top: 32px !important;
}

.mb-32 {
  margin-bottom: 32px !important;
}

.ml-32 {
  margin-left: 32px !important;
}

.mr-32 {
  margin-right: 32px !important;
}

.p-32 {
  padding: 32px !important;
}

.px-32 {
  padding-left: 32px !important;
  padding-right: 32px !important;
}

.py-32 {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}

.pt-32 {
  padding-top: 32px !important;
}

.pb-32 {
  padding-bottom: 32px !important;
}

.pl-32 {
  padding-left: 32px !important;
}

.pr-32 {
  padding-right: 32px !important;
}

.m-n32 {
  margin: -32px !important;
}

.mx-n32 {
  margin-left: -32px !important;
  margin-right: -32px !important;
}

.my-n32 {
  margin-top: -32px !important;
  margin-bottom: -32px !important;
}

.mt-n32 {
  margin-top: -32px !important;
}

.mb-n32 {
  margin-bottom: -32px !important;
}

.ml-n32 {
  margin-left: -32px !important;
}

.mr-n32 {
  margin-right: -32px !important;
}

.p-n32 {
  padding: -32px !important;
}

.px-n32 {
  padding-left: -32px !important;
  padding-right: -32px !important;
}

.py-n32 {
  padding-top: -32px !important;
  padding-bottom: -32px !important;
}

.pt-n32 {
  padding-top: -32px !important;
}

.pb-n32 {
  padding-bottom: -32px !important;
}

.pl-n32 {
  padding-left: -32px !important;
}

.pr-n32 {
  padding-right: -32px !important;
}

.m-34 {
  margin: 34px !important;
}

.mx-34 {
  margin-left: 34px !important;
  margin-right: 34px !important;
}

.my-34 {
  margin-top: 34px !important;
  margin-bottom: 34px !important;
}

.mt-34 {
  margin-top: 34px !important;
}

.mb-34 {
  margin-bottom: 34px !important;
}

.ml-34 {
  margin-left: 34px !important;
}

.mr-34 {
  margin-right: 34px !important;
}

.p-34 {
  padding: 34px !important;
}

.px-34 {
  padding-left: 34px !important;
  padding-right: 34px !important;
}

.py-34 {
  padding-top: 34px !important;
  padding-bottom: 34px !important;
}

.pt-34 {
  padding-top: 34px !important;
}

.pb-34 {
  padding-bottom: 34px !important;
}

.pl-34 {
  padding-left: 34px !important;
}

.pr-34 {
  padding-right: 34px !important;
}

.m-n34 {
  margin: -34px !important;
}

.mx-n34 {
  margin-left: -34px !important;
  margin-right: -34px !important;
}

.my-n34 {
  margin-top: -34px !important;
  margin-bottom: -34px !important;
}

.mt-n34 {
  margin-top: -34px !important;
}

.mb-n34 {
  margin-bottom: -34px !important;
}

.ml-n34 {
  margin-left: -34px !important;
}

.mr-n34 {
  margin-right: -34px !important;
}

.p-n34 {
  padding: -34px !important;
}

.px-n34 {
  padding-left: -34px !important;
  padding-right: -34px !important;
}

.py-n34 {
  padding-top: -34px !important;
  padding-bottom: -34px !important;
}

.pt-n34 {
  padding-top: -34px !important;
}

.pb-n34 {
  padding-bottom: -34px !important;
}

.pl-n34 {
  padding-left: -34px !important;
}

.pr-n34 {
  padding-right: -34px !important;
}

.m-40 {
  margin: 40px !important;
}

.mx-40 {
  margin-left: 40px !important;
  margin-right: 40px !important;
}

.my-40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.ml-40 {
  margin-left: 40px !important;
}

.mr-40 {
  margin-right: 40px !important;
}

.p-40 {
  padding: 40px !important;
}

.px-40 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.py-40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.pt-40 {
  padding-top: 40px !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.pl-40 {
  padding-left: 40px !important;
}

.pr-40 {
  padding-right: 40px !important;
}

.m-n40 {
  margin: -40px !important;
}

.mx-n40 {
  margin-left: -40px !important;
  margin-right: -40px !important;
}

.my-n40 {
  margin-top: -40px !important;
  margin-bottom: -40px !important;
}

.mt-n40 {
  margin-top: -40px !important;
}

.mb-n40 {
  margin-bottom: -40px !important;
}

.ml-n40 {
  margin-left: -40px !important;
}

.mr-n40 {
  margin-right: -40px !important;
}

.p-n40 {
  padding: -40px !important;
}

.px-n40 {
  padding-left: -40px !important;
  padding-right: -40px !important;
}

.py-n40 {
  padding-top: -40px !important;
  padding-bottom: -40px !important;
}

.pt-n40 {
  padding-top: -40px !important;
}

.pb-n40 {
  padding-bottom: -40px !important;
}

.pl-n40 {
  padding-left: -40px !important;
}

.pr-n40 {
  padding-right: -40px !important;
}

.m-48 {
  margin: 48px !important;
}

.mx-48 {
  margin-left: 48px !important;
  margin-right: 48px !important;
}

.my-48 {
  margin-top: 48px !important;
  margin-bottom: 48px !important;
}

.mt-48 {
  margin-top: 48px !important;
}

.mb-48 {
  margin-bottom: 48px !important;
}

.ml-48 {
  margin-left: 48px !important;
}

.mr-48 {
  margin-right: 48px !important;
}

.p-48 {
  padding: 48px !important;
}

.px-48 {
  padding-left: 48px !important;
  padding-right: 48px !important;
}

.py-48 {
  padding-top: 48px !important;
  padding-bottom: 48px !important;
}

.pt-48 {
  padding-top: 48px !important;
}

.pb-48 {
  padding-bottom: 48px !important;
}

.pl-48 {
  padding-left: 48px !important;
}

.pr-48 {
  padding-right: 48px !important;
}

.m-n48 {
  margin: -48px !important;
}

.mx-n48 {
  margin-left: -48px !important;
  margin-right: -48px !important;
}

.my-n48 {
  margin-top: -48px !important;
  margin-bottom: -48px !important;
}

.mt-n48 {
  margin-top: -48px !important;
}

.mb-n48 {
  margin-bottom: -48px !important;
}

.ml-n48 {
  margin-left: -48px !important;
}

.mr-n48 {
  margin-right: -48px !important;
}

.p-n48 {
  padding: -48px !important;
}

.px-n48 {
  padding-left: -48px !important;
  padding-right: -48px !important;
}

.py-n48 {
  padding-top: -48px !important;
  padding-bottom: -48px !important;
}

.pt-n48 {
  padding-top: -48px !important;
}

.pb-n48 {
  padding-bottom: -48px !important;
}

.pl-n48 {
  padding-left: -48px !important;
}

.pr-n48 {
  padding-right: -48px !important;
}

.m-56 {
  margin: 56px !important;
}

.mx-56 {
  margin-left: 56px !important;
  margin-right: 56px !important;
}

.my-56 {
  margin-top: 56px !important;
  margin-bottom: 56px !important;
}

.mt-56 {
  margin-top: 56px !important;
}

.mb-56 {
  margin-bottom: 56px !important;
}

.ml-56 {
  margin-left: 56px !important;
}

.mr-56 {
  margin-right: 56px !important;
}

.p-56 {
  padding: 56px !important;
}

.px-56 {
  padding-left: 56px !important;
  padding-right: 56px !important;
}

.py-56 {
  padding-top: 56px !important;
  padding-bottom: 56px !important;
}

.pt-56 {
  padding-top: 56px !important;
}

.pb-56 {
  padding-bottom: 56px !important;
}

.pl-56 {
  padding-left: 56px !important;
}

.pr-56 {
  padding-right: 56px !important;
}

.m-n56 {
  margin: -56px !important;
}

.mx-n56 {
  margin-left: -56px !important;
  margin-right: -56px !important;
}

.my-n56 {
  margin-top: -56px !important;
  margin-bottom: -56px !important;
}

.mt-n56 {
  margin-top: -56px !important;
}

.mb-n56 {
  margin-bottom: -56px !important;
}

.ml-n56 {
  margin-left: -56px !important;
}

.mr-n56 {
  margin-right: -56px !important;
}

.p-n56 {
  padding: -56px !important;
}

.px-n56 {
  padding-left: -56px !important;
  padding-right: -56px !important;
}

.py-n56 {
  padding-top: -56px !important;
  padding-bottom: -56px !important;
}

.pt-n56 {
  padding-top: -56px !important;
}

.pb-n56 {
  padding-bottom: -56px !important;
}

.pl-n56 {
  padding-left: -56px !important;
}

.pr-n56 {
  padding-right: -56px !important;
}

.m-64 {
  margin: 64px !important;
}

.mx-64 {
  margin-left: 64px !important;
  margin-right: 64px !important;
}

.my-64 {
  margin-top: 64px !important;
  margin-bottom: 64px !important;
}

.mt-64 {
  margin-top: 64px !important;
}

.mb-64 {
  margin-bottom: 64px !important;
}

.ml-64 {
  margin-left: 64px !important;
}

.mr-64 {
  margin-right: 64px !important;
}

.p-64 {
  padding: 64px !important;
}

.px-64 {
  padding-left: 64px !important;
  padding-right: 64px !important;
}

.py-64 {
  padding-top: 64px !important;
  padding-bottom: 64px !important;
}

.pt-64 {
  padding-top: 64px !important;
}

.pb-64 {
  padding-bottom: 64px !important;
}

.pl-64 {
  padding-left: 64px !important;
}

.pr-64 {
  padding-right: 64px !important;
}

.m-n64 {
  margin: -64px !important;
}

.mx-n64 {
  margin-left: -64px !important;
  margin-right: -64px !important;
}

.my-n64 {
  margin-top: -64px !important;
  margin-bottom: -64px !important;
}

.mt-n64 {
  margin-top: -64px !important;
}

.mb-n64 {
  margin-bottom: -64px !important;
}

.ml-n64 {
  margin-left: -64px !important;
}

.mr-n64 {
  margin-right: -64px !important;
}

.p-n64 {
  padding: -64px !important;
}

.px-n64 {
  padding-left: -64px !important;
  padding-right: -64px !important;
}

.py-n64 {
  padding-top: -64px !important;
  padding-bottom: -64px !important;
}

.pt-n64 {
  padding-top: -64px !important;
}

.pb-n64 {
  padding-bottom: -64px !important;
}

.pl-n64 {
  padding-left: -64px !important;
}

.pr-n64 {
  padding-right: -64px !important;
}

.square {
  position: relative;
  width: 64px;
  height: 64px;
  overflow: hidden;
  background-color: #efefef;
  border-radius: 4px;
}
.square img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.flex,
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.align-end {
  align-items: flex-end;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.link {
  font-size: 16px;
  display: inline-block;
  color: #666666;
}
.link:hover, .link:focus, .link:active, .link.is-active {
  color: black;
}
